# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
*.suo
*.*~
*.user
/Output
/LBi.LostDoc.Test/Data
_TeamCity.*
_ReSharper.*
/LBi.LostDoc.Repository.Web.Host/App_Data/Repository
/LBi.LostDoc.Repository.Web.Host/App_Data/Content
/test.ps1
/_TeamCity.LBi.LostDoc
*.log
*.Cache
StyleCop.Cache
packages/
LBi.LostDoc.Repository.Web.Host/App_Data/AddIns/
LBi.LostDoc.Repository.Web.Host/App_Data/LocalPackages/
AddInPackages/
