@*
 * Copyright 2013 LBi Netherlands B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License. 
 *@

@using LBi.LostDoc.Repository.Web.Areas.Administration.Models
@model SearchResultModel


<form method="GET" action="@Url.Action("Search")" data-target="#results">
    <input type="search" name="terms"placeholder="Search repository"/>
    <input type="submit" value="Search"/>
    <input type="checkbox" id="cbIncludePrerelease" name="includePrerelease" value="true"/>
    <label for="cbIncludePrerelease">Include prerelease packages</label>
</form>

<section class="package-list">
    <h2>@Model.PageTitle</h2>
    
    
    @Html.Partial("Search", Model)

    @*    <div id="no-results" style="display: none;">
        No results found, please try a less specific query or <a title="Create a new feature request" href="https://github.com/LBiNetherlands/LBi.LostDoc/issues/new?labels=enhancement">create a feature request</a> if the functionality you want isn't availble.
    </div>
    <div id="results">
    </div>*@
</section>

