<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns="clr-namespace:LBi.LostDoc.Repository.Web.Configuration.Xaml;assembly=LBi.LostDoc.Repository.Web" 
          xmlns:ll="clr-namespace:LBi.LostDoc;assembly=LBi.LostDoc" 
          xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
          Version="1">
  <Entry x:TypeArguments="x:String" Key="LostDoc.Repository.ContentPath">App_Data\Content\</Entry>
  <Entry x:TypeArguments="x:String" Key="LostDoc.Repository.RepositoryPath">App_Data\Repository\</Entry>
  <Entry x:TypeArguments="x:String" Key="LostDoc.Repository.TempPath">App_Data\Repository\temp\</Entry>
  <Entry x:TypeArguments="x:String" Key="LostDoc.Repository.LogPath">App_Data\Logs\</Entry>
  <Entry x:TypeArguments="x:String" Key="LostDoc.Repository.Template">Repository</Entry>
  <Entry x:TypeArguments="x:String" Key="LostDoc.Repository.ApiKey">55b5263bda19438fa7c6aee5506d2db3</Entry>
  <Entry x:TypeArguments="x:String" Key="LostDoc.Repository.Extensibility.InstallPath">App_Data\AddIns</Entry>
  <Entry x:TypeArguments="x:String" Key="LostDoc.Repository.Extensibility.PackagePath">App_Data\Packages</Entry>
  <Entry x:TypeArguments="x:String" Key="LostDoc.Repository.Extensibility.Repository">http://www.myget.org/F/lostdoc/</Entry>
  <Entry x:TypeArguments="ll:VersionComponent" Key="LostDoc.Repository.IgnoreVersionComponent" Value="Patch" />
</Settings>
