form.search-box {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #707070;
}

input.search-input {
  border: none;
  padding: 5px;
}

button.search-button {
  background-color: #c82b2b;
  background-image: url('../images/search.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  padding: 10px;
  display: inline-block;
  border: none;
}